main {
            width: 500px;
            margin: 100px auto;
            background-color: rgb(253, 255, 220);
            min-height: 200px;
            padding: 40px;
            border-radius: 20px;
            box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.38);
        }

        form {
            display: flex;
            justify-content: space-between;
        }

        input {
            width: 70%;
            padding: 10px;
            border-radius: 10px;
            border: none;
            box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.089);
            text-align: center;

        }

        button {
            width: 80px;
            border-radius: 8px;
            box-shadow: 5px 7px 10px rgba(59, 59, 59, 0.121);
            border: none;
            font-size: 16px;
            font-weight: 600;
        }

        .listall {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr;
        }

        ul {
            padding: 0;
        }

        li {
            list-style: none;
            margin: 6px 0;
            display: flex;
            justify-content: space-between;
            background-color: rgb(237, 237, 237);
            padding: 7px 20px;
            border-radius: 20px;
        }

        li span {
            font-weight: 700;
            font-size: 18px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }